.comment {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 3px;
}

.comment__body {
  flex: 1;
  padding: 4px;
}

.comment__headerDescription {
  margin-bottom: 5px;
  font-size: 12px;
}

.comment__headerText > h3 {
  font-size: 12px;
  margin-bottom: 5px;
}

.comment__badge {
  font-size: 12px !important;
  color: var(--twitter-color);
}

.comment__headerSpecial {
  font-weight: 500;
  font-size: 9px;
  color: gray;
}

.comment__avatar {
  padding: 15px;
}
