{% extends 'base.html' %} {% load static %} {% block content %}

<div style="background-color: #ffffff">
  <div class="row">
    <div class="col-lg-5" style="margin: auto">
      <h1 class="text-center" style="color: #1da1f2"><b>Dashboard</b></h1>

      <div><img src="{% url 'facecam_feed' %}" width="800" height="550" /></div>
    </div>
  </div>
</div>

<span>Hello , {{request.user }} </span>
<span><a href="{% url 'logout' %}">Logout</a></span>
{% comment %}
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"
></script>
<script>
  $(window).bind('beforeunload', function(){
      $ajax({
          type: "POST",
          url:'/disableCamera',,
          data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
          success:  function(response){

             }
      });

    });
</script>
{% endcomment %} {% endblock %}
